

body{
    justify-items: center;
}
 
  
 h1{
    
    font-size: 29px;
    color: orangered;
}
form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    border: 3px solid black;
    background-color: skyblue;
}
label{
    font-weight: bolder;
   
    display: block;
}
fieldset{
    font-size: 20px;
    border: 1px solid black;
    padding: 20px;

}

legend{
    color: orangered;
    font-size: 18px;
    font-weight: bolder;

}


input{
    width: 300px;
    border-radius: 2px;
    height: 25px;
}

textarea{
    width: 300px;
    border-radius: 10px;
}
.btnn{
    margin-top: 5px;
}
.submitbtn{
    
        height: 60px;
        width: 120px;
        background-color: white;
        font-size: 20px;
        font-weight: bold;
        font-family:cursive;
        color:orangered;
        border: 6px solid orangered;
        border-radius: 20px;
        cursor: pointer;
         &:hover{
            border: 6px solid white;
        background-color:orangered;
        color:white  ;
        }
    }



@media (max-width:500px){
    

    h1{
    
        font-size: 18px;
        color: orangered;
    }
    form{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        border-radius: 15px;
        width: 230px;
        border: 3px solid black;
        background-color: rgb(215, 222, 228);
    }
    label{
        font-weight: bolder;
       
        display: block;
    }
    fieldset{
    
        font-size: 14px;
        border: 1px solid black;
        padding: 20px;
        }
    
    legend{
        color: orangered;
        font-size: 15px;
        font-weight: bolder;
    
    }
    
    
    input{
        width: 200px;
        border-radius: 2px;
        height: 25px;
    }
    
    textarea{
        width: 200px;
        border-radius: 10px;
    }
    
   
    }
    
    
